.wishContainer{
    display:flex;
    flex-wrap:wrap;
}

.wishItem{
    flex-grow: 1;
    margin:10px;
    background-color:#ffffff;
}

.imgContainer{
    border-right: solid 2px #e8e8e8;
}

.wishItemDetail{
    padding-left:5px;
    width:150px;
    list-style: none;
}

.operationBar{
    position: fixed;
    bottom: 0;
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.inline{
    float:left;
    padding:10px;
    height:200px;
    position: relative;
}

img {
    max-height:180px; 
    max-width:300px;   
}

.wishLoading{
    font-size:20px;
    text-align: center;
}