.wishContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.wishItem{
    flex: 0 0 32%;
    margin: 10px;
    background-color:#ffffff;
}

.wishItem:last-child{
    flex-grow: 0;
}

.displayBar{
    padding: 10px;
    max-width: 800px;
    min-width: 200px;
}

.imgContainer{
    float:left;
    margin-bottom: 15px;
    margin-right: 15px;
    height: 200px;
    width: 200px;
}

.wishItemDetail{
    float:left;
    padding-left:10px;
    width:200px;
}

.operationBar{
    clear: both;
    padding:10px;
}

img {
    max-height:200px; 
    max-width:200px;   
}

.wishLoading{
    font-size:20px;
    text-align: center;
}

.operationBar button{
    width:100px;
    margin-right: 5px;
}

.feedback{
    color:#FF1493;
}